{% assign all_tags = '' | split: ',' %}

 {% for post in site.posts %}
    {% for tags in post.tags %}
        {% for tag in tags %}
            {% assign all_tags = all_tags | push: tag %}
        {% endfor %}
    {% endfor %}
{% endfor %}

{% assign all_tags = all_tags | sort %}
{% assign all_tags = all_tags | uniq %}

<h1 id="posts-with-tag-title">All Tags</h1>
{% for tag in all_tags %}
<span id="tag-cloud-item">
    <a href="{{ site.baseurl }}/tags/{{ tag | uri_escape }}">{{ tag }}</a>
</span>
{% endfor %}