<!-- FOOTER -->
<footer>
    <div class="container">

        <div class="links">
            <div class="footer-logo">
                <a href="{{ site.baseurl }}/index.html"><h3>Matt Ralston</h3></a>
            </div>
            <div class="footer-quick-links">
                <h3>Quick Links</h3>
                <ul class="footer-links">
                    <li><a href="{{ site.baseurl }}/index">Home</a></li>
                    <li><a href="{{ site.baseurl }}/about">About</a></li>
                    <li><a href="{{ site.baseurl }}/portfolio">Portfolio</a></li>
                    <li><a href="{{ site.baseurl }}/cv">C.V</a></li>
                </ul>
            </div>
            <div>
                <h3>Other Links</h3>
                <ul class="footer-links">
                    <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
                    <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
                    <li><a href="https://matthewralston.github.io/kmerdb/" target="_blank">KDB</a></li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            <p class="footer-links">©2021 Matthew Ralston. All rights reserved</p>
            <div class="footer-icons">
                <a href="mailto:mrals89@gmail.com" target="_blank"><i class="fas fa-envelope fa-2x"></i></a>
                <a href="https://linkedin.com/in/matthewralston" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
                <a href="https://www.patreon.com/TheWaterAndWind" target="_blank"><i class="fab fa-patreon fa-2x"></i></a>
                <a href="http://github.com/MatthewRalston" target="_blank"><i class="fab fa-github fa-2x"></i></a>
                <a href="http://facebook.com/matthewthomasralston" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
                <a href="https://open.spotify.com/user/waterandwindmusic" target="_blank"><i class="fab fa-spotify fa-2x"></i></a>
            </div>
        </div>

    </div>
</footer>