<!-- HEADER -->
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="shortcut icon" href="{{ "/assets/images/favicon.ico" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}" type="text/css">
    <link rel="stylesheet" href="{{ "/assets/css/animations.css" | relative_url }}" type="text/css">
    <script async src="https://kit.fontawesome.com/0f132dab57.js" crossorigin="anonymous"></script>
  </head>
<header>  
    <!-- <img id="header-bg" src="{{ page.header-image }}" alt="" srcset=""> -->
    <img id="header-bg" src="{{ site.baseurl }}/{{ page.header-image }}" alt="" srcset="">
    <nav>
        <div class="logo">
            <a href="{{ site.baseurl }}/index"><h2 style="color: white;">Matt Ralston</h2></a>
        </div>
        <div class="nav-menu"> 
            <ul>
                <li><a href="{{ site.baseurl }}/index">Home</a></li>
                <li><a href="{{ site.baseurl }}/about">About</a></li>
                <li><a href="{{ site.baseurl }}/portfolio">Portfolio</a></li>
                <li><a href="{{ site.baseurl }}/cv">C.V</a></li>
                <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
                <li><a href="https://matthewralston.github.io/kmerdb/" target="_blank">KDB</a></li>
                <li><a href="{{ site.baseurl }}/contact"><button>Contact</button></a></li>
            </ul>
        </div>
        <div id="open-mobile-nav" onclick="openNav()">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>
    <!-- MOBILE NAV -->
    <div id="mobile-nav-overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div id="mobile-nav-overlay-content">
            <a href="{{ site.baseurl }}/index">Home</a>
            <a href="{{ site.baseurl }}/about">About</a>
            <a href="{{ site.baseurl }}/portfolio">Portfolio</a>
            <a href="{{ site.baseurl }}/cv">C.V</a>
            <a href="{{ site.baseurl }}/blog">Blog</a>
            <a href="https://matthewralston.github.io/kmerdb/" target="_blank">KDB</a>
            <a href="{{ site.baseurl }}/contact">Contact</a>
        </div>
    </div>

    <!-- Hero text -->
    <div class="hero-text animatedParent animateOnce" data-appear-top-offset='-100'>
        <h1 class="animated bounceInLeft">{{ page.hero-title }}</h1>
        <h3 class="animated bounceInRight">{{ page.hero-subtitle }}</h3>
        <div class="animated bounceIn hero-icons">
            <a href="mailto:mrals89@gmail.com" target="_blank"><i class="fas fa-envelope fa-2x"></i></a>
            <a href="https://linkedin.com/in/matthewralston" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
            <a href="https://www.patreon.com/TheWaterAndWind" target="_blank"><i class="fab fa-patreon fa-2x"></i></a>
            <a href="http://github.com/MatthewRalston" target="_blank"><i class="fab fa-github fa-2x"></i></a>
            <a href="http://facebook.com/matthewthomasralston" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
            <a href="https://open.spotify.com/user/waterandwindmusic" target="_blank"><i class="fab fa-spotify fa-2x"></i></a>
        </div>
    </div>
</header>
<!-- <i onclick="topFunction()" id="backToTop" class="fas fa-arrow-alt-circle-up fa-3x"></i> -->
