---
layout: default
title: post.title
---

<div id="posts-with-tag">
    <h1 id="posts-with-tag-title">Posts with Tag "{{ page.tags }}"</h1>
    <ul>
        {% for post in site.posts %}
        {% if post.tags contains page.tags %}
        <li id="posts-with-tag-info">
            <h4><a href="{{ site.baseurl }}/{{ post.url }}">{{ post.title }}</a></h4>
            <div id="posts-with-tag-info-meta">
                <p>{{ post.author }}</p> &nbsp; &nbsp;
                <span style="font-weight: 300;">{{ post.date | date_to_string }}</span>
            </div>
            <p style="margin-bottom: 20px;">{{ post.content | markdownify | strip_html | truncatewords: 30 }}</p>
            <a style="display: block; margin-bottom: 30px;" href="{{ site.baseurl }}{{ post.url }}">Read article <i class="fas fa-angle-double-right"></i></a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    {% include archives.html %}
</div> 